@media (prefers-color-scheme: dark) {
    body { background: #1e1e2e; color: #cdd6f4; }
}

@media (prefers-color-scheme: light) {
    body { background: #eff1f5; color: #4c4f69; }
}

.content-area {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.content-area p {
    margin: 0; 
    padding: 0;
}

img {
    margin: 5px;
}

textarea:focus, input:focus{
    outline: none;
}

#searchTerm {
    color: #cdd6f4;
    background-color: #1e1e2e;
    font-weight: 600;
    font-size: 15px;
    border: none;
    height: 100%;
}

.filter-mauve {
    filter: invert(71%) sepia(14%) saturate(1013%) hue-rotate(223deg) brightness(96%) contrast(102%);
}

.interactable {
    border-radius: 15%;
}

.interactable :hover {
    opacity: 90%;
}

.interactable :active {
    opacity: 80%;
}

.disabled {
    opacity: 50%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    cursor: pointer;
}